.subtype-container-main {
  @apply px-5 py-3 bg-gray-100 border-[3px] border-gray-300  m-1 mb-0 border-b-0;
}
.subtype-header {
  @apply font-bold;
}

.subtype-content {
  @apply grid grid-flow-row grid-cols-3 p-3 text-clip;
}

.checkbox-div {
  @apply flex p-1 w-full;
}

.subtypes-checkbox {
  @apply relative float-left mt-0.5 mr-1 h-5 w-5 accent-green-600;
}

.subtypes-label {
  @apply text-ellipsis;
}
